@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap');
body {
    margin: 0;
    font-family: 'Noto Sans SC', sans-serif;
}
.navContainer {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #396dff;
}
.logoBox {
    flex: 2;
    display: flex;
    align-items: center;
}
.logo {
    font-size: x-large;
    font-weight: bolder;
    text-decoration: none;
    color: #fff;
    display: block;
}
.items {
    text-align: center;
    flex:auto;
}
.itemList {
    list-style: none;
}
.itemLink {
    text-decoration: none;
    color: #fff;
}
ul {
    display: flex;
    padding-inline-start: 0;
}
li {
    color: #fff;
    display: inline-block;
    margin: auto;
}
.emptyLogoBox {
    flex: 2;
}
.HitYoshino_p {
    margin: 0;
}
.sec1 {
    margin: 0;
    text-align: center;
    color: #b1b1b1;
}
hr{
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 32px;
    margin-bottom: 0;
}
.sec2 {
    width: 33.33%;
    margin: 16px;
    text-align: left;
}

.flex-1 {
    text-align: center;
    display: flex;
}